@import '../../vars.css';

.cardContainer{
    position: relative;
    display: flex;
    height: 30vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
}

.cardImage{
    position: relative;
    height: 100%;    
    flex: 3;
    width: 40%;
}


.cardContent{
    flex: 3;
}


.cardBtnContainer{
    flex: 1;    
    display: flex;
    align-items: center;
    justify-content: center;      
}

.cardBtn{
    font-size: 50px;
    color: var(--color-primary);
    margin: 0 5px;
    transition: ease-in-out 0.25s;
}

.cardBtn:hover{
    transform: scale(1.1);
    color: var(--color-secondary);
}

.cardDescriptionShort{
    display: none;
}



@media screen and (max-width:620px) {
    .cardDescriptionShort{
        display: block;
    }

    .cardDescriptionLong{
        display: none;
    }

    .cardContainer{
        height: 20vh;
    }
    .cardBtn{
        font-size: 40px;
    }
}

@media screen and (max-width:420px) {
    .cardDescriptionShort{
        font-size: 12px;
    }

    .cardDescriptionLong{
        display: none;
    }

    .cardContainer{
        height: 18vh;
    }

    .cardTitle{
        font-size: 16px;
    }

    .cardBtn{
        font-size: 30px;
        margin: 0 2px;
    }
    
}
