@import '../../vars.css';

.cardContainer{
    position: relative;
    display: flex;
    height: 200px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cardImage{
    position: relative;
    height: 100%;
    flex: 3;
}

.cardContent{
    flex: 3;
}


.cardBtn{
    flex: 1;
}