@import '../../vars.css';

footer{
    background-color: var(--color-black);
}

.footerContent{
    display: flex;
    width: 100%;
    padding: 8%;
    align-items: flex-start;
    justify-content: space-evenly;
    /* gap: 50px; */
    /* flex-flow: row-reverse; */
}

/* section 1 coloumn 1 */
.companyDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    /* border-right: 1px solid var(--color-white); */
}

.footerLogo img{
    width: 150px;
}

.footerDescription{
    color: var(--color-white);
    text-align: center;
}

.contactsAndLinks{
    flex: 2;
    display: flex;
}

/* section 1 coloumn 2 */
.contactDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    color: var(--color-white);
}

h3::after{
    content: "";
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: var(--color-white); 
    margin-top: 8px;

}

.contactLine{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
}

/* section 1 coloumn 3 */
.navMenu{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--color-white);
    gap: 15px;
}

.footerNavlinks{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    gap: 10px;
}

.footerNavLink{
    text-decoration: none;
    color: var(--color-white);
    font-size: 18px;
    transition: ease-in-out 0.25s;
}

.footerNavLink:hover{
    font-weight: 600;
}

/* section 2 */

.footerBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
}

.footerSocialIcons{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.footerSocialIcon{
    color: var(--color-primary);
    transition: ease-in-out 0.3s;
}

.footerSocialIcon:hover{
    transform: scale(1.5);
    transform: translateY(-3px);
}

.footerBottom span{
    font-size: 13px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 90%;
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width:750px) {
    .footerContent{
        flex-direction: column;
        gap: 30px;
    }

    .contactsAndLinks{
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 0 5%;
    }

    .contactDetails{
        align-items: flex-start;
    }
    .footerNavlinks{
        align-items: center;
    }
    
}

@media screen and (max-width:350px) {
    .contactsAndLinks{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contactDetails{
        align-items: center;
    }

    .footerNavlinks{
        align-items: center;
    }
}